{% extends 'base.html'%}
{%block content%}

<a href="{% url 'new_review' %}">Add New Review</a>

<div class="row">
    {% for review in reviews%}
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src={{review.photo}}>
                    <span class="card-title">{{review.title}}</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock%}