{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Lemon Log</title>
  <!-- Material Ui -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>
  <!-- Static files -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css/' %}">
  <link rel="icon" href="{% static 'images/lemon-icon.png/'%}">
  {% block extrahead %}
  {% endblock %}
</head>
<body>
  <header class="navbar-fixed">
    <nav class="yellow">
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo black-text">&nbsp;&nbsp;The Lemon Log</a></li>
        </ul>
        {% if request.user.is_authenticated%}
          <ul class="right">
            <li><a href="{% url 'profile' request.user.id %}"class="black-text">Profile</a></li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'logout' %}" class="black-text">Log Out</a></li>
          </ul>
        {% else %}
          <ul class="right">
            <li><a href="{% url 'signup' %}" class="black-text">Sign Up</a></li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'login' %}" class="black-text">Login</a></li>
          </ul>
        {% endif %}
        <ul class="right">
          <li><a href="{% url 'about' %}" class="black-text">About Us</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer yellow" style='position:fixed;bottom:0px;width:100vw;padding:1rem;'>
    <div class="right">All Rights Reserved, &copy; 2021 The Lemon Log &nbsp;</div>
    <div>Icons made by <a style="text-decoration:none; color:white;"href="https://www.flaticon.com/authors/wanicon" title="wanicon">wanicon</a> from <a style="text-decoration:none; color:white;" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </footer>
</body>
</html>