img{
    max-height:333px;
}
.about__container {
    padding:5rem;
}

.team{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.team-heading{
    width:100%;
}

.terrence{
    flex: 1 0 50%;
}
.cindy{
    flex: 1 0 50%;
}