.container{
  width: 100%;
}
.review__background__photo{
  height: 333px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% -400%;
}
.review__title{
  position: relative;
  top: 40%;
  color: white;
  font-size: 77px;
  padding: 10px;
  text-align: center;
}
.review__title p{
  width: 50%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);;
}