body {
  background-image: url("../../images/wp2457240-yellow-black-wallpapers.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height:100vh;
}
.header__black {
  background-color: black;
}
.header__wrapper{
  display: flex;
  justify-content: space-between;
}
.header__right{
  display: flex;
}

.container{
  width: 100%;
  background-color: white;
  min-height:100vh;
}
/* Home page  */
.home__banner {
  background-image: url('../../images/desktop.png');
  background-repeat: no-repeat;
  height: 40vh;
  background-size: cover;
}
.home__banner_text{
  margin: auto;
  background-color:rgba(255, 255, 255, 0.5);
  font-family: fantasy;
  position: absolute;
  font-size: 33px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 20vh;
  left: 44vw;
}
.review__grid {
  display: grid;
  grid-auto-flow: dense;
}

.reviews__container:nth-child(odd) {
  padding:1rem;
  grid-column: 1;
}

.reviews__container:nth-child(even) {
  padding:1rem;
  grid-column: 2;
}



/* review and comment section */

.review__background__photo{
  height: 333px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;     
  background-size: cover;
  box-shadow: 0px 10px 8px rgba(68, 68, 68, 0.6);
}

.review__name{
  position: relative;
  top: 40%;
  color: white;
  font-size: 77px;
  padding: 10px;
  text-align: center;
  font-family: copperplate;
}
.review__name p{
  width: 50%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.review__details {
  display: flex;
  flex-direction: column;
  font-family: copperplate;
}

.review__details hr{
  width: 33vw;
  margin-left: 30%;
}

.review__header {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.review__title {
  display: flex;
  justify-content: center;
  font-size: 33px; 
  font-weight: 700;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.review__description {
  padding-left: 5em;
  padding-right: 5em;
  margin-bottom: 5em;
}

.review__edit__delete__buttons {
  display: flex;
  justify-content: center;
}

.comment__form {
  padding-left: 5rem;
  padding-right: 5rem;
}

.comment__container {
  display: flex;
  flex-direction: column;

  margin-bottom: 1em;
  border-radius: 10%;
}

.comment__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 1em;
}

.comment {
  padding: 1em;
}

.comment__text {
  display: flex;
}

.comment__buttons {
  display: flex;
}

#comment__edit {
  background-color:#f2ea09;
  color: black;
}

#comment__delete {
  background-color:#f2ea09;
  color: black;
}

/* Profile Page */
.profile__container{
  margin: auto;
  width: 50%;
  padding-bottom: 5rem;
}

.navbar-fixed{
  background-image: url("../images/landing.png");
}

.btn{
  background-color:yellow;
  color:black;
}

.review-form{
  margin: 10px;
}

/* Responsive */

@media screen and (max-width: 950px) {
	/* article {
		float: none;
		width: 98%;
		padding: 1%;
		background-color: #ffaaaa;
	}
	aside {
		float: none;
		width: 98%;
		padding: 1%;        
		background-color: #ffaaff;
	} */
	.header__left {
    display: none;
	}
  .header__wrapper{
    display: flex;
    justify-content: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__banner_text{
    margin: auto;
    background-color:rgba(255, 255, 255, 0.5);
    font-family: fantasy;
    position: absolute;
    font-size: 33px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 20vh;
    left: 33vw;
  }
  .review__grid{
    display: flex;
    flex-direction: column;
  }
  .reviews__container {
    margin: 3rem;
  }
  .review__name{
    position: relative;
    top: 20%;
    color: white;
    font-size: 77px;
    padding: 10px;
    text-align: center;
    font-family: copperplate;
  }
}

@media screen and (max-width: 550px) {
  .header__black {
    height: auto;
  } 
  .header__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home__banner_text{
    margin: auto;
    background-color:rgba(255, 255, 255, 0.5);
    font-family: fantasy;
    position: absolute;
    font-size: 22px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 33vh;
    left: 33vw;
  }
  .review__name{
    position: relative;
    top: 10%;
    color: white;
    font-size: 77px;
    padding: 10px;
    text-align: center;
    font-family: copperplate;
  }
}