<div class='review__edit__delete__buttons'>
    <a href="{% url 'edit_review' review.id%}"><button class="uk-button uk-button-default uk-margin-small-right" type="button" >Edit Review</button></a>
    <div class="">
        <!-- This is a button toggling the modal -->
        <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-review" id="review__delete">Delete Review</button>
    </div>
    <!-- This is the modal -->
    <div id="modal-review" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Warning</h2>
            <p>Are you sure you wish to delete?</p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <a href="{% url 'delete_review' review.id %}">Delete Review</a>
            </p>
        </div>
    </div>
</div>