{% extends 'base.html' %}
{% block content %}
<div class="review__background__photo" style="background-image: url('{{review.photo}}');">
    <div class="review__name"><p>{{ review.product }}</div>
</div>
<div class='review__details'>
    <div class='review__header'>
        <p>Author: {{review.user}}</p>
        {% if  review.rating == 5 %}
        <p>Rating: 🍋🍋🍋🍋🍋</p>
        {% endif %}
        {% if  review.rating == 4 %}
        <p>Rating: 🍋🍋🍋🍋</p>
        {% endif %}
        {% if  review.rating == 3 %}
        <p>Rating: 🍋🍋🍋</p>
        {% endif %}
                {% if  review.rating == 2 %}
        <p>Rating: 🍋🍋</p>
        {% endif %}
        {% if  review.rating == 1 %}
        <p>Rating: 🍋</p>
        {% endif %}
        <p> Published: {{review.date|date:"M d Y"}} </p>
    </div>
    <div class="review__title">
        <p> {{review.title|title}} </p>
    </div>
    <hr>
    <div class="review__description">
        <p> {{review.description}} </p>
    </div>
</div>
<div>
    <div class="comment__form">
        <form action="{% url 'add_comment' review.id %}" method="post">
            {% csrf_token %}
            {{comment_form.as_p}}
            <input type="submit" value="Add Comment">
        </form>
    </div>
</div>

<div class='card-panel'>
    {% for comment in review.comment_set.all%}    
        <div class="comment__container">
            <div class='card-panel'>
                <div class="comment__heading">
                    {% if comment.user.userphoto.url%}
                        <img id='img' src="{{comment.user.userphoto.url}}" alt="profile-photo">
                    {% else %}
                        <img id='img' src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"alt="profile-photo">
                    {% endif %}
                    <p>{{comment.user.username}}</p>
                </div>
                <p>Created: {{comment.date|date:"M d Y"}}</p>
                <div class="comment">
                    <div class="comment__text">
                        <p id="comment__p"> {{comment.comment_text}}</p>
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                        {% if request.user.id == comment.user_id or request.user.is_staff %}
                        <div class="comment__buttons">
                            {% if request.user.id == comment.user_id%}
                                <a href="{% url 'edit_comment' review.id comment.id %}"><button class="uk-button uk-button-default uk-margin-small-right" id="comment__edit">Edit Comment</button></a>
                            {% endif %}
                            <!-- This is a button toggling the modal -->
                            <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example" id="comment__delete">Delete Comment</button>
                        </div>
                        <!-- This is the modal -->
                        <div id="modal-example" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h2 class="uk-modal-title">Warning</h2>
                                <p>Are you sure you wish to delete?</p>
                                <p class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                    <a href="{% url 'delete_comment' review.id comment.id %}">Delete Comment</a>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}