{% extends 'base.html' %}
{% block content %}
<div class="review__background__photo" style="background-image: url('{{review.photo}}');">
  <div class="review__title"><p>{{ review.title }}</div>
</div>
<div>
    <h1> {{review.title|title}} </h1>
    <h3>Author: {{review.user}}</h3>
    <h3>Product: {{review.product}}</h3>
    <h4>Rating: {{review.rating}}</h4>
    <h4> Reviewed on: {{review.date}} </h4>
    <p> THE REVIEW: {{value|linebreaks}}{{review.description}} </p>
</div>
<div>
    <a href="{% url 'add_comment' review.id %}">Add Comment</a>
    </div>
</div>

<div>
    <div class="row">
        {% for comment in review.comment_set.all%}    
        <div class="col s12 m5">
            <div class="card-panel">
                <p>{{comment.user}}</p>
                <span>Created: {{comment.date}}</span> {{value|linebreaks}}
                <span class="black-text"> {{comment.comment_text}}</span>
                <a href="{% url 'edit_comment' review.id comment.id %}">Edit Comment</a>
                <!-- This is a button toggling the modal -->
                <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example">Delete Comment</button>
                <!-- This is the modal -->
                <div id="modal-example" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h2 class="uk-modal-title">Warning</h2>
                        <p>Are you sure you wish to delete?</p>
                        <p class="uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            <a href="{% url 'delete_comment' review.id comment.id %}">Delete Comment</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}