{% extends 'base.html' %}
{% block content %}
<div class="review__background__photo" style="background-image: url('{{review.photo}}');">
  <div class="review__title">{{ review.title }}</div>
</div>
<div>
    <h1> {{review.title|title}} </h1>
    <h3>Author: {{review.user}}</h3>
    <h3>Product: {{review.product}}</h3>
    <h4>Rating: {{review.rating}}</h4>
    <h4> Reviewed on: {{review.date}} </h4>
    <p> THE REVIEW: {{value|linebreaks}}{{review.description}} </p>
</div>
<div>
    <a href="{% url 'add_comment' review.id %}">Add Comment</a>
        <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#comment-modal">Comment</a>
    <!-- Modal Structure -->
    <div id="comment-modal" class="modal">
        <div class="modal-content">
            <form action="{% url 'add_comment' review.id %}" method="post">
            {% csrf_token %}
            {{comment_form.as_p}}
        </div>
        <div class="modal-footer">
            <a href="" class="modal-close waves-effect waves-green btn-flat">Add Comment</a>
        </div>
            </form>
    </div>
</div>

<div>
    <div class="row">
        {% for comment in review.comment_set.all%}    
        <div class="col s12 m5">
            <div class="card-panel">
                <p>{{comment.user}}</p>
                <span>Created: {{comment.date}}</span> {{value|linebreaks}}
                <span class="black-text"> {{comment.comment_text}}</span>
                <a href="{% url 'edit_comment' review.id comment.id %}">Edit Comment</a>
                <a href="{% url 'delete_comment' review.id comment.id %}">Delete Comment</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
    });
</script>
{% endblock %}